.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5em;
    padding: 6rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
